page-monitor {
    .strongly-greyed {
        color: grey;
    }

    .block-title {
        color: #29b299;
        font-weight: bold;
    }

    @mixin opaque-checkbox($color) {
        opacity: .8 !important;
        .checkbox-icon {
            border-color: map-get($colors, $color)
        }
    }

    .normalized-item {
        @include opaque-checkbox(secondary);
        .checkbox-icon {
            background-color: color($colors, secondary)
        }
    }

    .missing-item {
        @include opaque-checkbox(danger)
    }

    .extra-item {
        @include opaque-checkbox(primary)
    }

    .food-block {
        padding-top: 3vh;
    }
    
    %padless-column {
        padding-top: 0px;
        text-align: center;
    }

    .item-count {
        @extend %padless-column;
        color: #29b299;
        font-size: 6vh;
    }
    
    .item-count-title {
        @extend %padless-column;
        font-style: italic;
        color: lightgray;
    }

    .nada-text {
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 3vh;
        border-radius: 5%;
    }

    .nada-image-eaten {
        background-image: url('../../assets/imgs/eaten.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 5vh;
        margin-left: 10vw;
        height: 38vh;
    }

    .config-button {
        background-color: seagreen;
        margin-left: 26vw !important;
    }
}
