<ion-header>
  <ion-navbar>
    <ion-title>
      Monitor
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [class]="items ? 'loaded' : 'loading'" padding>
  <div *ngIf="filterSet; else nada">
    <ion-row align-items-center>
      <ion-col class="item-count">
        {{storageItemCount}}/{{filterItemCount}}
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="item-count-title">ITENS</ion-col>
    </ion-row>

    <div *ngIf="itemsMeetingFilter.length > 0">
      <div class="strongly-greyed">
        Abastecido:
      </div>
      <div *ngFor="let item of items">
        <ion-row *ngIf="item.stored >= 1">
          <ion-col col-10>
            <span class="strongly-greyed">{{item.name}}</span>: {{ item.stored > item.filterCount ? unityForQuantity(item, item.filterCount) : unityForQuantity(item,
            item.stored) }}</ion-col>
          <ion-col col-2>
            <ion-checkbox class="normalized-item" checked="true" disabled="true"></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="food-block" *ngIf="itemsExceedingFilter.length > 0">
      <div class="strongly-greyed">
        Estoque Excedente:
      </div>
      <div *ngFor="let item of items">
        <ion-row *ngIf="item.stored > item.filterCount">
          <ion-col col-10>
            <span class="strongly-greyed">{{item.name}}</span>: {{ unityForQuantity(item, item.stored - item.filterCount) }}</ion-col>
          <ion-col col-2>
            <ion-checkbox class="extra-item" checked="true" disabled="true"></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="food-block" *ngIf="itemsUnderFilter.length > 0">
      <div class="strongly-greyed">
        Faltando para Abastecimento Ideal:
      </div>
      <div *ngFor="let item of items">
        <ion-row *ngIf="item.stored < item.filterCount">
          <ion-col col-10>
            <span class="strongly-greyed">{{item.name}}</span>: {{ unityForQuantity(item, item.filterCount - item.stored) }}</ion-col>
          <ion-col col-2>
            <ion-checkbox class="missing-item" checked="false" disabled="true"></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <ng-template #nada>
    <div class="nada-image-eaten"></div>
    <div class="nada-text">
      <ion-row>
        <ion-col>Não há nada aqui...</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Você ainda não configurou nenhum filtro!</ion-col>
      </ion-row>
    </div>
    <button class="config-button" ion-button color="dark" (click)="configure()">Configurar</button>
  </ng-template>
</ion-content>