page-filter {
    .button-add-item {
        color: color($colors, dark);
        margin-top: 3vh;
        margin-left: 25vw;
    }

    .button-delete {
        background-color: color($colors, danger);
        color: white;
    }
}
